.topbar{
  width: 100%;
  height: 80px;
  background-color: #f5f4eb;
  position: fixed;
  top: 0;
  z-index: 2;
}
.topbar:active{
  background-color: #f5f4eb;
  color: #CB643A;
}

.wrapper{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#f5f4eb ;
}

.navbar-left{
  display: flex;
  align-items: center;
}
.logo img{

  height: 80px;
}

.navbar-right{
  display: flex;
  flex-direction: row;
  
}

.container {
  margin-left: 30px;
  color: #CB643A;
}

/* Icono de menu */
.hamburger{
  width: 32px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 30px;
}

.linea{
  width: 100%;
  height: 3px;
  background-color: #CB643A;
  margin-left: 30px;
  transform-origin: top;
  transition: all 2s ease;
  
}
