* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.sections{
  position: relative;
  top: 70px;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
}